<div class="sng-box box3 container m-5">
  <p class="has-medium-font-size"><strong>プライバシーポリシー</strong></p>
  <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
  <p><strong>個人情報の利用目的</strong></p>
  <p>当サイトでは、会員登録やご契約、お問い合わせの際、名前やメールアドレス等の個人情報を入力いただく場合がございます。<br>取得した個人情報は、ご利用者様間でのお取引に使用するものであり、お問い合わせに対する回答や必要な情報を電子メールなどでご連絡する場合に利用させていただくものであり、これらの目的以外では利用いたしません。</p>
  <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
</div>