<% if customer_signed_in?%>
  <%= render 'public/after_sign_in_nav', customer: current_customer %>
  <%= render 'public/menu' %>
<% else %>
  <%= render 'layouts/before_sign_in_nav' %>
<% end %>
<div class="container">
  <div class="row">
    <%= render partial: 'layouts/sidebar', locals: { categories: @categories, tags: @tags } %>
    <div class="col-10">
      <h2 class="mt-5">講座一覧</h2>
      <table>
        <thead></thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>