/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';

.tab {
  background-color: #fff;
  transition: all .2s;
  cursor: pointer;
}
.tab:not(:last-of-type) {
  margin-right: 1em;
}

.current {
  color: #fff;
  background-color: #87cefa;
}
.current::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

ul {
  margin: 0;
}

.menu-box {
  width: 100%;
  display: none;
}
.menu {
  // color: #fff;
  padding: 1em 1em;
  background-color: #87cefa;
  transition: all .2s;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover{
  color: #fff;
  background-color: #87cefa;
}

.btn-category {
  background-color: #00ffff;
}

.btn-tag {
  background-color: #6495ed;
}

.notice {
  font-size: 20px;
  color: white;
  background-color: green;
  text-align: center;
}
.alert {
  font-size: 20px;
  color: white;
  background-color: red;
  text-align: center;
}