<div class="row ms-5"> 
  <%= link_to "学びたい", root_path, class: "h3 link-info col-2 me-5" %>
  <%= link_to "教えたい", root_path, class: "h3 link-info col-2 me-5" %>
  <%= link_to "しゃべり場", root_path, class: "h3 link-info col-3" %>
</div>