<div class="footer bg-info d-flex justify-content-center mt-5 row">
  <p class="lh-lg text-center">Copyright © 2022 LearnCommunity All Rights Reserved.</p>
  <div class="d-flex justify-content-end"><%= link_to "プライバシーポリシー", privacy_policy_path, class: "me-5 mb-3 text-dark" %></div>
</div>