<div class="col-2 mt-5">
  <h5>カテゴリー</h5>
  <div class="list-group">
    <%# @categories.each do |category| %>
    <a class="list-group-item list-group-item-action">カテゴリー１</a>
    <%# end %>
  </div>
  <h5 class="mt-5">タグ</h5>
  <div class="list-grpup">
    <a class="list-group-item list-group-item-action">タグ１</a>
  </div>
</div>