<div class="col-2 mt-5 border-end">
    <ul class="list-unstyled ps-0">
      <li class="mb-1 mt-5">
        <button class="btn btn-toggle align-items-center rounded collapsed fs-5 fw-bold" data-bs-toggle="collapse" data-bs-target="#category-collapse" aria-expanded="true">
          カテゴリー
        </button>
        <div class="collapse ms-1" id="category-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <% categories.each do |category| %>
            <li class="m-3"><%= category.name %>(<%= category.lessons.where(is_in_lecture: true).count %>)</li>
          <% end %>
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed fs-5 fw-bold" data-bs-toggle="collapse" data-bs-target="#tag-collapse" aria-expanded="false">
          タグ
        </button>
        <div class="collapse ms-1" id="tag-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <% tags.each do |tag| %>
            <li class="m-3"><%= tag.name %>(<%= tag.tag_lists.count %>)</li>
          <% end %>
          </ul>
        </div>
      </li>
    </ul>
</div>